<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">  
  <title>Grow Phone</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>  
  <style>
  h3 {margin-top: 20px;}
  </style>
</head>
<body>
  <% include ./navi.ejs %>

  <div class="container-fluid">
    <div class="row">
      <% include ./leftNavi.ejs %>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <h1 class="h2">결과</h1>               
        </div>

        <h1><%=infomsg%></h1>
        <h3><a href="/leaderBoard">돌아가기</a></h3>
        
      </main>
    </div> <!-- row -->
  </div><!--container-fluid -->
  
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  <script>
    $(".nav a").removeClass('active');
    $(".nav>li a:eq(0)").addClass('active')     
    feather.replace()     
  </script>
</body>
</html>