<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/achievements">
          <span data-feather="file-text"></span>
          업적 리스트 <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">
          <span data-feather="layers"></span>
          리더보드 리스트 <span class="sr-only">(current)</span>
        </a>
      </li>      
    </ul>
  </div>
</nav>